*{
    font-family: "roboto";
}
.inicio {
    background-color: #EAC926;
    background: #EAC926;
}
.logo{
    background-image: #EAC926;
    width: 500px;
    font: none;
    
}
#lupa {
    padding: 3px;
    background-color: #ebebeb;
    border: 0.5px black solid;
    border-radius: 1px;
}
a {
    text-decoration: none;
}

.cuotas {
    align-items: center;
    text-align: center;
}
.navegador {
    text-decoration: none;
    text-decoration-line: none;
}
.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
 
}
.fa-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    font-size: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: #1259c3;;
}
.titular {
    font-size: 24px;
}
.precio {
    font-size: 18px;
}
.descuento {
    font-size: 16px;
}
.descripcion{
    font-size: 16px;
}
footer {
    text-align: center;
    align-items: center;
    color: #666;
}
#icon-footer {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
.footer-padre {
    background-color: #ebebeb;;
}