<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
</head>
<body>
    <header>
        <div class="log">
           <img src="/img/banner.jpg" alt="logo">
        </div>
        <div>
            <p>compra en cuotas y sin tarjeta de credito</p>
        </div>
        <div class="barra-de-navegacion">
            <h2>barra de navegacion</h2>
            <ul>
                <li><a href="#">ofertas</a></li>
                <li><a href="#">tiendas oficiales</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">crea tu cuenta</a></li>
                <li><a href="#">ingresa</a></li>
                <li><a href="#">mis compras</a></li>
            </ul>
        </div>

    </header>
    <main class="productos">
        <div>
            <img src="/img-cafetera-moulineximg.jpg/" alt="cafetera">
        </div>

    </main>
</body>
</html>